<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>
    <%- include('./general/data') %>
  </head>
  <body>
    <!--Main Navigation-->
    <header>
      <%- include('./general/nav') %>
    </header>
    <div class="container">
      <form
        id="create_apply"
        class="border border-light p-5"
        style="margin-top: 10px;"
      >
        <div class="row">
          <div class="col">
            <label for="_id">글쓴이</label>
            <input
              type="text"
              id="_id"
              class="form-control"
              value="<%=`${result.serial} ${result.name}`%>"
              readonly
            />
          </div>
          <div class="col">
            <label for="_place">목적지</label>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%=result.dest %>"
              readonly
            />
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlTextarea2">상세 정보</label>
              <textarea
                class="form-control rounded-0"
                id="_detail"
                rows="10"
                readonly
              >
<%= result.detail %></textarea
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="_now">인원</label>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%=result.now %>/<%=result.fill %>"
              readonly
              style="margin-bottom: 10px;"
            />
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col" id="listed">
            <label for="listed">인원</label>
            <ul class="list-group">
              <% for (let index = 0; index < result.join.length; index++) {%>
              <li class="list-group-item">
                <%= `${result.join[index].serial} ${result.join[index].name} `
                %>
              </li>
              <% }; %>
            </ul>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col">
            <label for="_place">일시</label>
            <% time = result.date.getFullYear() +"년 " + (result.date.getMonth()
            + 1 ) + "월 " + result.date.getDate() + "일 " +
            result.date.getHours() + "시" + result.date.getMinutes() + "분 " %>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%=time %>"
              readonly
            />
          </div>
        </div>
        <div class="row text-align-center" style="margin-top: 10px;">
          <% if(my === true){ %>
          <div class="col">
            <button id="deletebtn" type="button" class="btn btn-danger">
              삭제
            </button>
          </div>
          <div class="col">
            <a href="/modify/<%=result._id%>" class="btn btn-primary">수정</a>
          </div>
          <% }; %>
          <div class="col">
            <a id="joinbtn" class="btn btn-secondary">가입</a>
          </div>
        </div>
      </form>
    </div>
    <script>
      $(function () {
        $("#deletebtn").click((event) => {
          $.ajax({
            url: "/delete/<%= result._id %>",
            type: "DELETE",
          })
            .done(() => {
              alert("삭제 완료");
              location.href = "/list";
            })
            .fail((req, status, error) => {
              alert(JSON.parse(req.responseText).message);
            });
        });
        $("#joinbtn").click((event) => {
          $.ajax({
            url: "/join/<%= result._id%>",
            type: "PUT",
            contentType: "application/json;",
          })
            .done(() => {
              alert("참여 완료!");
              location.href = "/list";
            })
            .fail((req, status, error) => {
              if (req.status == 403) {
                alert("이미 신청된 동행입니다.");
              } else {
                alert(JSON.parse(req.responseText).message);
              }
            });
        });
      });
    </script>
  </body>
</html>
