<!DOCTYPE html>
<html>
  <head>
    <title>Detail</title>

    <%- include('./general/data') %>
  </head>
  <body>
    <!--Main Navigation-->
    <header>
      <%- include('./general/nav') %>
    </header>
    <div class="container">
      <form
        id="create_apply"
        class="border border-light p-5"
        style="margin-top: 10px;"
      >
        <div class="row">
          <div class="col">
            <label for="_id">글쓴이</label>
            <input
              type="text"
              id="_id"
              class="form-control"
              value="<%=`${result.serial} ${result.name}`%>"
              readonly
            />
          </div>
          <div class="col">
            <label for="_place">목적지</label>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%=result.dest %>"
              readonly
            />
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlTextarea2">상세 정보</label>
              <textarea
                class="form-control rounded-0"
                id="_detail"
                rows="10"
                readonly
              >
<%= result.detail %></textarea
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="_now">인원</label>
            <input
              type="text"
              id="_fill"
              class="form-control"
              value="<%=result.now %>/<%=result.fill %>"
              readonly
              style="margin-bottom: 10px;"
            />
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col" id="listed">
            <label for="listed">인원</label>
            <ul class="list-group">
              <% for (let index = 0; index < result.join.length; index++) {%>
              <li class="list-group-item">
                <%= `${result.join[index].serial} ${result.join[index].name} `
                %>
              </li>
              <% }; %>
            </ul>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col">
            <label for="_place">일시</label>
            <% time = result.date.getFullYear() +"년 " + (result.date.getMonth()
            + 1 ) + "월 " + result.date.getDate() + "일 " +
            result.date.getHours() + "시" + result.date.getMinutes() + "분 " %>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%=`${result.date.getFullYear()}년 ${(result.date.getMonth()+1<10?'0':'') + (result.date.getMonth()+1)}월 ${(result.date.getDate()<10?'0':'') + result.date.getDate()}일 ${(result.date.getHours()<10?'0':'') + result.date.getHours()}시 ${(result.date.getMinutes()<10?'0':'') + result.date.getMinutes()}분 `%>"
              readonly
            />
          </div>
        </div>
        <div class="row text-align-center" style="margin-top: 10px;">
          <% if(my === true){ %>
          <div class="col">
            <button
              id="deletebtn"
              type="button"
              class="btn btn-danger"
              style="padding-left: 10%; padding-right: 10%;"
            >
              삭제
            </button>
          </div>
          <div class="col">
            <a
              href="/modify/<%=result._id%>"
              class="btn btn-primary"
              style="padding-left: 10%; padding-right: 10%;"
              >수정</a
            >
          </div>
          <% } else{ if(!isJoin) {%>
          <div class="col">
            <a
              id="joinbtn"
              class="btn btn-secondary"
              style="padding-left: 10%; padding-right: 10%;"
              >가입</a
            >
          </div>
          <% } else{ %>
          <div class="col">
            <button
              id="deletejoin"
              type="button"
              class="btn btn-danger"
              style="padding-left: 10%; padding-right: 10%;"
            >
              삭제
            </button>
          </div>
          <%} }%>
        </div>
      </form>
    </div>
    <script>
      $(function () {
        var socket = io();
        socket.on("<%=result._id%>", (msg) => {
          var result = "";
          for (let index = 0; index < msg.join.length; index++) {
            result +=
              '<li class="list-group-item">' +
              msg.join[index].serial +
              " " +
              msg.join[index].name +
              "</li>";
          }
          $(".list-group").html(result);
          $("#_fill").attr("value", `${msg.now}/${msg.fill}`);
        });
        $("#deletebtn").click((event) => {
          $.ajax({
            url: "/delete/<%= result._id %>",
            type: "DELETE",
          })
            .done(() => {
              alert("삭제 완료");
              location.href = "/list";
            })
            .fail((req, status, error) => {
              alert(JSON.parse(req.responseText).message);
              location.href = location.href;
            });
        });
        $("#joinbtn").click((event) => {
          $.ajax({
            url: "/join/<%= result._id%>",
            type: "PUT",
            contentType: "application/json;",
          })
            .done(() => {
              alert("참여 완료!");
              location.href = location.href;
            })
            .fail((req, status, error) => {
              alert(JSON.parse(req.responseText).message);
              location.href = location.href;
            });
        });
        $("#deletejoin").click((event) => {
          $.ajax({
            url: "/join/<%= result._id%>",
            type: "DELETE",
            contentType: "application/json;",
          })
            .done(() => {
              alert("삭제 완료");
              location.href = location.href;
            })
            .fail((req, status, error) => {
              alert(JSON.parse(req.responseText).message);
              location.href = location.href;
            });
        });
      });
    </script>
  </body>
</html>
