<!DOCTYPE html>
<html>
  <head>
    <title>리스트다이마리야</title>
    <%- include('./general/data') %>

    <style>
      .data-box {
        height: 100px;
        border: 1px solid #e0e0e0;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        box-shadow: 5px 5px 5px -4px grey;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Noto Sans KR", sans-serif;
        margin: 0;
        color: grey;
        font-weight: 500;
      }
      .time {
        font-size: 12.5px;
        font-weight: 600;
      }
      .destination {
        font-weight: 600;
        font-size: 25px;
      }
      .counter {
        font-weight: 600;
        font-size: 35px;
      }
      .name {
        font-size: 15px;
      }
      .search {
        width: 80%;
        margin: auto;
      }
      .dimigo-button {
        background-color: white;
        border: 1px;
        border-color: grey;
        border-style: double;
        border-radius: 70px;
        padding: 10px;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 400;
        margin: auto;
        margin-top: 10px;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <%- include('./general/nav') %>
    </header>
    <div class="container" style="margin-top: 20px;">
      <div class="row">
        <div class="col">
          <h1>귀가자 목록</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="dimigo-button animated fadeIn"
            onclick="location.href='/apply'"
          >
            모임 만들기
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col data-list">
          <% result.forEach((data)=>{ %>
          <div id="<%=data._id%>" class="data-box animated flipInX">
            <div class="d-flex justify-content-between">
              <% if(data.dest.length > 6){ %>
              <h1 class="destination"><%=`${data.dest.substr(0,6)}...`%></h1>
              <%} else{%>
              <h1 class="destination"><%=data.dest%></h1>
              <%}%>
              <h6 class="align-self-end time">
                <%=`${(data.date.getMonth()+1<10?'0':'') +
                (data.date.getMonth()+1)}월 ${(data.date.getDate()<10?'0':'') +
                data.date.getDate()}일 ${(data.date.getHours()<10?'0':'') +
                data.date.getHours()}시 ${(data.date.getMinutes()<10?'0':'') +
                data.date.getMinutes()}분 `%>
              </h6>
            </div>
            <div class="d-flex justify-content-between">
              <h1 class="counter">
                <%=`${data.now} / ${data.fill} 명`%>
              </h1>
              <h6 class="align-self-end name">
                <%=`${data.serial} ${data.name}`%>
              </h6>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
    <script>
      $(".data-box").click(function () {
        const _id = $(this).attr("id");
        location.href = `/detail/${_id}`;
      });
    </script>
  </body>
</html>
