<!DOCTYPE html>
<html>
  <head>
    <title>수정</title>
    <%- include('./general/data') %>
    <script>
      $(function () {
        $("#create_apply").submit((event) => {
          event.preventDefault();
          const dest = $("#_place").val();
          const detail = $("#_detail").val();
          const date = $("#date_form").val();
          const time = $("#time_form").val();
          const fill = $("#_number").val();
          $.ajax({
            url: "/modify/<%= result._id %>",
            type: "POST",
            data: { dest, detail, date, time, fill },
          })
            .done(() => {
              location.href = "/detail/<%=result._id%>";
            })
            .fail((req, status, err) => {
              alert(JSON.parse(req.responseText).message);
            });
        });
      });
    </script>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <%- include('./general/nav') %>
    </header>
    <div class="container">
      <form
        id="create_apply"
        class="border border-light p-5"
        style="margin-top: 10px;"
      >
        <div class="row">
          <div class="col">
            <label for="_place">목적지</label>
            <input
              type="text"
              id="_place"
              class="form-control"
              value="<%= result.dest%>"
              required
            />
          </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <div class="col">
            <div class="form-group">
              <label for="exampleFormControlTextarea2">상세 정보</label>
              <textarea
                class="form-control rounded-0"
                id="_detail"
                rows="10"
                required
              >
<%= result.detail %></textarea
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="md-form">
              <input
                type="number"
                id="_number"
                class="form-control"
                required
                min="1"
                value="<%= result.fill%>"
              />
              <label for="numberExample">최대 명수(본인 포함)</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="date_form">날짜</label>
            <input
              type="date"
              id="date_form"
              class="form-control"
              value="<%=`${result.date.getFullYear()}-${(result.date.getMonth()+1<10?'0':'') + (result.date.getMinutes()+1)}-${(result.date.getDate()<10?'0':'') + result.date.getDate()}`%>"
              required
            />
          </div>
          <div class="col">
            <label for="time_form">시간</label>
            <input
              type="time"
              id="time_form"
              class="form-control"
              required
              value="<%=`${(result.date.getHours()<10?'0':'') + result.date.getHours()}:${(result.date.getMinutes()<10?'0':'') + result.date.getMinutes()}`%>"
            />
          </div>
        </div>
        <button class="btn btn-info btn-block my-4" type="submit">
          수정하기
        </button>
      </form>
    </div>
  </body>
</html>
